html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Allura", cursive;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    background-color: black;
    height: 100vh;
}
